* {
    font-family: poppins, sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


body {
    /* width: 100vw; */
    box-sizing: border-box;
    background-image: url(./background123.jpg);
    color: rgb(255, 255, 255);
    overflow-x: hidden;
}

#header {
  width: 100%;
  height: 100vh;
}

.container {
     padding: 10px 10%;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    top: 0%;
    width: 100%;
    background-color: rgb(10, 10, 10,0.5);
    padding: 1% 10%;
    z-index: 1000;
}

.logo {
    width: 140px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    justify-content:space-evenly;
}

nav ul li a:after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 27px;
    position: relative;
}

nav a span {
    color: #ff004f
}

.header-text {
    /* margin-top: 20%;
    font-size: 30px;
    text-align: center;
    background-color: #ff004f; */
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-text h1 {
    font-size: 50px;
    margin-top: 10px;
}

.header-text h1 span {
    color: #ff004f;
}


html {
    scroll-behavior: smooth;
}

.btn2 {
    display: block;
    margin: 50px auto;
    padding: 14px 50px;
    border-radius: 6px;
    width: fit-content;
    text-decoration: none;
    color: #fff;
    background-color: #ff004f;
}

/*----------about-------*/
#about {
    padding: 80px 0;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 40%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
    font-size: 14px;
    color: rgb(255, 255, 255)
}

.about-col-2 h2 span {
    color: #ff004f;
}

.sub-title {
    font-size: 100px;
    font-weight: 600;
    color: #fff;
}

.tab-links {
    margin-top: 20px;
    margin-bottom: 25px;
    color: #fff;
    font-size: 18px;
    position: relative;
}

.tab-links:after {
    content: "";
    width: 8%;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
}

.tab-content {
    display: flex;
    justify-content: space-between;
}

div.icon {
    font-size: 50px;
}

.icons-name {
    font-size: 15px;
}


/*--------------------PROJECTS-------------------------*/
#portfolio{
    padding: 80px 0;
}
.work-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
      width:100%;
      border-radius: 10px;
      display: block;
      transition: transform 0.5;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom:0;
    overflow:hidden;
    display:flex;align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight:500;
    margin-bottom:20px;
}

.layer a{
    margin-top:20px;
    color:#ff004f;
    text-decoration: none;
    font-size: 16px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{

     transform: scale(1.1);
}

.work:hover  .layer{
    height: 100%;
}
/*-------- blogs------*/
#Blogs {
    flex-basis: 100%;
}

.blog-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    display: inline-block;
    background: black;
    padding: 40px;
    grid: gap 40px;
    margin-top: 50px;
    font-size: 14px;
    letter-spacing: 1px;
    transition: background 0.5s, transform 0.5s;
}

.blog-1 a {
    color: #fff;
    text-decoration: none;
}

.blog-1:hover {
    background: #ff004f;
    transform: translateY(-10px);
}

.blog-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    display: inline-block;
    background: black;
    padding: 40px;
    grid: gap 40px;
    margin-top: 50px;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    transition: background 0.5s, transform 0.5s;
}

.blog-2:hover {
    background: #ff004f;
    transform: translateY(-10px);
}

/*---------------------------contact me----------------*/
#container {
    flex-basis: 100%;
}

.contact-left {
    flex-basis: 45%;
    margin-top: 65px;
}

.contact-right {
    flex-basis: 55%;
    margin-top: 65px;
}

.contact-left p {
    margin-top: 25px;
}

.contact-left p i {
    color: #ff004f;
    margin-left: 10px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
    margin-left: 10px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #fff;
    display: inline-block;

}

.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}

.button-2 {
    display: inline-block;
    background-color: #ff004f;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: rgb(7, 7, 7);
    padding: 15px;
    margin: 15px 30px 15px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .button-2 {
    display: block;
    border-radius: 6px;
    width: fit-content;
    color: #fff;
    background-color: #ff004f;
    padding: 14px 60px;
    font-size: 18px;
    margin: 15px 30px 15px;
    cursor: pointer;
}

/*-----------------------COPY-RIGHT-------------------*/
.Copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: black;
    font-weight: 300;
    margin-top: 20px;
}

.Copyright a {
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
}

.Copyright a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}



  /* Tablets and larger mobile phones */
  @media (max-width: 768px) {
    .header {
        padding: 20px 5%;
    }

    .navbar a {
        margin-left: 20px;
        font-size: 20px;
    }

    .home {
        padding: 50px 10% 0;
    }

    .home-content {
        max-width: 80%;
    }
    .header-text h1 {
        font-size: 32px;
        margin-top: 10px;
    }
    #box1 {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* Mobile phones */
@media (max-width: 780px) {
    
    .header {
        padding: 15px 5%;
    }

    .navbar a {
        margin-left: 15px;
        font-size: 18px;
    }
    nav{
        padding: 5px 15px;
    }

    nav ul{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav ul li a{
        font-size: 1rem;
    }
    nav a{
        display: block;
        padding: 5px 0 10px 0;
    }
    nav ul li{
        padding: 0%;
        margin: 0%;
    }
    .home {
        padding: 40px 10% 0;
    }

    .header-text {
        /* margin-top: 20%;
        font-size: 30px;
        text-align: center;
        background-color: #ff004f; */
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 19px;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .header-text h3{
        font-size: 1rem;
    }
    .header-text h1{
        font-size: 3rem;
    }

    .home-content h1 {
        font-size: 40px;
    }

    #box1 {
        grid-template-columns: 1fr;
    }
}
